.button {
  display: block;
  padding: 11px 33px;
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  background-color: #005abf;
  background-image: linear-gradient(to top, rgba(37, 36, 35, 0.18) 0%, rgba(37, 36, 35, 0) 100%);
}
